<md-content flex layout-fill>
    <header class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column" flex>
        <div id="content1" flex>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Player 1{{players[1].name}}</span>
                        <span class="md-subhead">Score : 2</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
        <img class="versus" src="img/vs.png" alt=""/>
        <div id="content2" flex>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Player 2{{players[1].name}}</span>
                        <span class="md-subhead">Score : 1</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </header>
    <div class="md-padding" layout="row" flex layout-align="center start" layout-fill ng-cloak>
        <div id="score1" flex layout-fill layout="row" layout-align="space-around">
            <md-progress-circular md-diameter='100%' md-mode="determinate" value="89"></md-progress-circular>
        </div>
        <div id="score2" flex layout-fill layout="row" layout-align="space-around">
            <md-progress-linear md-swipe-up md-mode="determinate" value="45"></md-progress-linear>
        </div>
    </div>
</md-content>
