<div id="content1" style="background-color: #4C32B4">
    <span class="name">{{players[0].name}}</span>
    <span class="score">Score : {{players[0].score}}</span>
    <span class="power">Power : {{players[0].power}}</span>
</div>

<div id="contentM">
    <em class="fire" style="animation-delay: .2s; -webkit-animation-delay: .2s; -moz-animation-delay: .2s; -ms-animation-delay: .2s;">V</em>
    <em class="fire" style="animation-delay: .4s; -webkit-animation-delay: .4s; -moz-animation-delay: .4s; -ms-animation-delay: .4s;">S</em>
</div>

<div id="content2" style="background-color: #3CD93E">
    <span class="name">{{players[0].name}}</span>
    <span class="score">Score : {{players[0].score}}</span>
    <span class="power">Power : {{players[0].power}}</span>
</div>