<md-content layout="column" layout-fill>
    <header layout="row" layout-wrap flex>
        <div id="content1" flex>
            <md-card layout-fill>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Player 1{{players[1].name}}</span>
                        <span class="md-subhead">Score : 2</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
        <img class="versus center" src="img/vs.png" alt=""/>
        <div id="content2" flex>
            <md-card layout-fill>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Player 2{{players[1].name}}</span>
                        <span class="md-subhead">Score : 1</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </header>
    <div class="md-padding" layout="row" flex="80" layout-no-wrap ng-cloak>
        <div id="score1" flex layout-fill layout="row" layout-align="space-around">
            <div class="md-toolbar-tools">
                <h3 flex>
                    <span>Vote</span>
                </h3>
            </div>
            <md-progress-circular class="md-warn center" md-diameter='180' md-mode="determinate" value="89"></md-progress-circular>
            <span class="center">89%</span>
        </div>
        <div id="score2" flex layout-fill layout="row" layout-align="space-around">
            <div class="md-toolbar-tools">
                <h3 flex>
                    <span>Vote</span>
                </h3>
            </div>
            <md-progress-circular class="center" md-diameter='180' md-mode="determinate" value="45"></md-progress-circular>
            <span class="center">45%</span>
        </div>
    </div>
    <!--<div class="dialog-demo-content" layout="row" layout-wrap layout-margin>
        <md-button class="md-primary md-raised" ng-click="showAlert($event)"   flex="100"  flex-gt-md="auto">
            Alert Dialog
        </md-button>
    </div>-->
</md-content>
