.demo-card-event.mdl-card {
    background: #3E4EB8;
    display:inline-block;
    margin:0 !important;
    min-height: 100%;
}
.clear1px{
    clear: both;
    height: 1px;
}
.demo-card-event > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
    align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
    margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
    color: #fff;
}
.demo-card-image__filename {
    color: #FF9800;
    font-size: 15px;
    font-weight: 600;
}
.header .demo-card-event:last-child h4 {
    margin-left: auto;
}
.header > img {
    position:absolute;
    transform: translate(-50%, 30%);
    height:75px;
    z-index:100000000;
}

.mdl-grid {
    padding: 0px !important;
}

.mdl-card {
    width: 100% !important;
    z-index: 1!important
}

table {
    width:100%;
    text-align:center;
    height:100vh;
}

table tr { width:33.333%; }

button.mdl-button {
    height: 80%;
    width: 90%;
    padding-left:0px!important;
    padding-right:0px!important;
}

.mdl-button__ripple-container {
    z-index:10!important;
}

.player2 {
    padding-top: 40px;
}

.player1 {
    padding-bottom: 40px;
}

.versus {
    left: 50.5%;
    top: 50%;
    right: 50%;
    z-index: 2;
    max-width: 45%;
    max-height: 45%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.center {
    top: 50%;
    text-align: center;
    left: 50%;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
}

body {
    background-color: #C5CAE9;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#info {
    font-size: 24px;
    color: white;
    text-align:center;
    position: absolute;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    z-index:10;
    background: #0099cc;
    top: 0;
    left: 0;
}