.demo-card-event.mdl-card {
    display:inline-block;
    margin:0 !important;
    min-height: 100%;
}

.head {
    font-size: 2em;
}

tr.mdl-list {
    position: relative !important;
}

#player1 .demo-card-event.mdl-card {
    background-color: #0099cc;
}

#player2 .demo-card-event.mdl-card {
    background-color: #ff5722;
}

.life-bar *, .life-bar {
    height: 30px !important;
    width: 100%;
    background-color: #a1cc39 !important;
}

.life-bar .md-dashed {
    background-color: #daf29f !important;
}

.clear1px{
    clear: both;
    height: 1px;
}
.demo-card-event > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
    align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
    margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
    color: #fff;
}
.demo-card-image__filename {
    color: #64ffda;
    font-size: 15px;
    font-weight: 600;
}
.header .demo-card-event:last-child h4 {
    margin-left: auto;
}
.header > img {
    position:absolute;
    transform: translate(-50%, 30%);
    height:75px;
    z-index:100000000;
}

.mdl-grid {
    padding: 0px !important;
}

.mdl-card {
    width: 100% !important;
    z-index: 1!important
}

table {
    width:100%;
    text-align:center;
    height:100vh;
}

table tr { width:33.333%; }

button.mdl-button {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-left:0px!important;
    padding-right:0px!important;
    border-radius: 0 !important;
}

.mdl-button__ripple-container {
    z-index:10!important;
}

.relative {
    position: relative;
}

.power {
    top: 50%;
    left: 50%;
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 20%;
}

.mdl-grid {
    padding: 0!important;
}

.vote-zone .mdl-cell {
    padding-top: 0;
}

.mdl-cell {
    padding: 30px 0;
    text-align: center;
    color: #424242;
    font-weight: bold;
}

.relative .mdl-cell {
    background: #ffe0b2;
    padding: 0;
    height: 60px;
}

.mdl-grid:first-child .mdl-cell:first-child {
    background-color: #0099cc;
}

.mdl-grid:first-child .mdl-cell {
    background-color: #ff5722;
    color: #fafafa;
}

.relative .mdl-cell:first-child {
    background-color: #e1f5fe;
}

.selected1 {
    background-color: #4fc3f7 !important;
}

.selected2 {
    background-color: #ffb74d !important;
}

.power1 img {
    position: relative;
    max-width: 20%;
}

span.big {
    font-size: 3.2em;
    font-weight: 600;
}

.versus {
    left: 50.5%;
    top: 50%;
    right: 50%;
    z-index: 2;
    max-width: 45%;
    max-height: 45%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.center {
    top: 50%;
    text-align: center;
    left: 50%;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
}

body {
    background-color: #C5CAE9;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#info {
    font-size: 24px;
    color: white;
    text-align:center;
    position: absolute;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    z-index:10;
    background: #0099cc;
    top: 0;
    left: 0;
}