body {
    overflow	: hidden;
    padding		: 0;
    margin		: 0;
    background-color: #C5CAE9;
}
#joystick {
    width		: 100%;
    height		: 100%;
    overflow	: hidden;
    padding		: 0;
    margin		: 0;
    -webkit-user-select	: none;
    -moz-user-select	: none;
}

.center {
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
}

.container {
    background-color: #B3E5FC;
}

.mdl-button--raised.mdl-button--colored {
    background-color: #0099CC;
}

.mdl-card__title{
    color: #333;
}

#login-form {
    display:block;
}

#login-form form {
    max-width: 400px;
    margin:auto;
    width:100%;
}

form input, form label {
    color: #333;
}

.mdl-radio .mdl-radio__ripple-container .mdl-ripple, .mdl-radio__inner-circle {
    color: #0099CC !important;
    background:#0099CC !important;
    border-color: #0099CC !important;
}

.mdl-radio__outer-circle {
    border-color: #0099CC !important;
}

.while-game {
    display:none;
}

#cast-spell {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#cast-spell .mdl-button.mdl-button--colored {
    background: #0099cc;
}
#cast-spell .mdl-button.mdl-button--colored[disabled] {
    background: grey;
}


#waiting {
    font-size: 24px;
    color: white;
    text-align:center;
    position: absolute;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    z-index:10;
    background: #0099cc;
    top: 0;
    left: 0;
}

#timer {
    display: block;
    background: #0099CC;
    top: 25px;
    left: 50%;
    position: fixed;
    font-weight: 600;
    font-size: 3em;
    color: #ffffff;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    border-radius: 0 0 10px 10px;
}