.versus {
    position: absolute;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    max-width: 80px;
}

.main {

}

md-progress-circular {
    height: 300px;
}

header {
    position: relative;
}

#content1 md-card, #content2 md-card {
    background-color: #3E4EB8;
    color: #fff;
}

#content2 {
    text-align: right;
}