.demo-card-event.mdl-card {
    background: #3E4EB8;
    display:inline-block;
    min-height:0px;
}
.demo-card-event > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
    align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
    margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
    color: #fff;
}
.demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.header .demo-card-event:last-child h4 {
    margin-left: auto;
}
.header > img {
    position:absolute;
    transform: translate(-50%, 30%);
    height:75px;
    z-index:100000000;
}